.home {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Arial", sans-serif;
    background-color: #0A192F;
  }
  
  .about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    color: #f0f0f0;
  }
  
  .about h2 {
    position: relative;
    display: inline-block;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #CCD6F6;
    height: auto; /* Adjusted to 'auto' to fit the text size */
    margin-top: -5px;
    margin-top: 1px;
    border-right: 3px solid #CCD6F6;
    padding-right: 5px;
    animation: typing 3s steps(20) infinite;
  }

  .about h2 ::after{
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color:  #0A192F;
    width: 100%;
  }

  /* @keyframes typing {
    to { width: 0% }
  } */
  
  .about h3 {
    font-family: 'Proggy';
    font-size: 1.5vw;
    color: #54D6BB;
    height: 90px;
    margin-top: 0px;
    margin-bottom: -40px;
  }

  .about .prompt {
    font-family: 'Proggy';
    width: 70%;
    font-size: 30px;
    color: #8892B0;
  }
  .prompt svg {
    font-size: 40px;
    margin: 5px;
    color: white;
  }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 25px;
      width: 60%;
    }