
.navbar {
  margin-top: 0px;
  position: fixed; /* Fixes the Navbar to the top */
  top: 0; /* Aligns to the top of the viewport */
  left: 0; /* Aligns to the left of the viewport */
  width: 100%; /* Full width */
  height: 50px; /* Height of the Navbar */
  background: #424242; /* Background color */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  z-index: 1000; /* Ensure it’s above other content */
}
/* Links styling */
.links {
  font-family: 'Proggy';
  font-weight: 100;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: #98C2BD;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 40px;
  font-size: 16px;
}

.links a:hover {
  color: #98C2BD; /* Hover color */
}

.links a:focus {
  color: #98C2BD; /* Focus color */
}

.active-link {
  color: #98C2BD; /* Active link color */
}

.active-link span {
  color: #98C2BD; /* Active link span color */
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px; /* Adjust or remove if needed */
}

#open a {
  width: 100%;
  text-align: center;
}

/* Responsive design adjustments */
@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }

  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}

/* Resume button styling */
.resume-button-container {
  margin-left: auto; /* Pushes the button to the right */
}

.resume-button {
  background-color: #98C2BD; /* Green background */
  font-family: 'Poppins', sans-serif;
  border: none; /* Remove borders */
  color: black; /* Black text */
  padding: 6px 10px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the container an inline block */
  font-size: 15px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
}

.links .resume-button:hover {
  background-color: white;
}
