.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Proggy';
  src: url('../public/proggy.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Junicode';
  src: url('../public/junicode.ttf');
}